div {
    width: 400px;
    height: 130px;
}

h1 {
    /* Establecemos una anchura para que el background del título encaje. */
    background-color: gold;
    width: 275px;
}

#primer-div {
    background-color: hotpink;
    border-width: 7px;
    border-color: aqua;
    border-style: ridge;
    box-sizing: border-box;
    /* Con esta propiedad redimensionamos el contenedor de
    forma que siempre quedará con la anchura y altura ajustada a lo establecido. */
}

#segundo-div {
    background-color: yellowgreen;
    border-width: 7px;
    border-color: blueviolet;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10px;
    /* Redondear esquinas de un borde. */
}

#display-normal-title {
    width: 320px;
    /* display: inline-block; */
}

#display-normal-title>h1 {
    background-color: lightskyblue;
    border: 5px darkred solid;
}

#display-normal-title>h2 {
    background-color: darkorange;
    border-color: forestgreen;
    border-style: groove;
    border-width: 5px;
}

#display-span {
    width: 320px;
}

#display-span span:nth-child(1) {
    background-color: darkgrey;
    border: 5px inset olive;
}

#display-span span:nth-child(2) {
    background-color: lightgreen;
    border: 5px outset aqua;
}

.position {
    width: 100%;
    display: block;
    margin-bottom: 150px;
}

.position-static {
    width: 225px;
    height: 125px;
    background-color: red;
    margin: 10px;
    display: inline-block;
    border: 5px black solid;
    border-radius: 5px;
    position: static;
    top: 100px;
}


/* Versión 2 de :nth-last-of-type() */

div.position-static:nth-last-of-type(2) {
    background-color: darkred;
}


/* :nth-child() coge todas las tags que sean hijas del padre. */


/* div.position-static:nth-child(3) {
    background-color: darkred;
} */


/* :nth-of-type() coge todas las tags que sean del mismo tipo.*/


/* div.position>div.position-static:nth-of-type(2) {
    background-color: darkred;
}
 */

.position-relative {
    width: 225px;
    height: 125px;
    background-color: red;
    margin: 10px;
    display: inline-block;
    border: 5px black solid;
    border-radius: 5px;
}

.position-relative:nth-last-child(2) {
    background-color: darkred;
    position: relative;
    top: 30px;
}

.position-absolute {
    width: 225px;
    height: 125px;
    background-color: red;
    margin: 10px;
    display: inline-block;
    border: 5px black solid;
    border-radius: 5px;
}

.position>.position-absolute:nth-last-of-type(2) {
    background-color: darkred;
    position: absolute;
    bottom: -500px;
    left: 100px;
}

.position-fixed {
    width: 225px;
    height: 125px;
    background-color: red;
    margin: 10px;
    display: inline-block;
    border: 5px black solid;
    border-radius: 5px;
}

.position-fixed:nth-of-type(2) {
    background-color: darkred;
    position: fixed;
    bottom: 0;
    right: 30px;
}