* {
    box-sizing: border-box;
}

input {
    width: 330px;
    height: 30px;
}

textarea {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #d0fad2;
}

.container {
    width: 95%;
    max-width: 900px;
    padding: 32px 64px;
    margin: auto;
}

.social {
    width: 48px;
    position: fixed;
    top: 50px;
    right: 0px;
}

.social {
    top: 50%;
    height: 205px;
    margin-top: -100px;
}

.shared-panel {
    overflow: auto;
}

.shared-panel span {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
}

.shared {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0) url("../imagenes/shared.png") no-repeat scroll 0% 0%;
    float: left;
    cursor: pointer;
    border-radius: 50%;
}

.shared:hover {
    opacity: 0.7;
}

.shared.gp {
    background-position: 0px 0px;
    background-color: #e62b34;
}

.shared.tt {
    background-position: 0px -30px;
    background-color: #43bdf0;
}

.shared.ce {
    background-position: 0px -60px;
    background-color: #8a898d;
}

.shared.wa {
    background-position: 0px -90px;
    background-color: #0dc143;
}

.shared.fb {
    background-position: 0px -120px;
    background-color: #6081c4;
}

.st2 {
    border-radius: 0px;
}

.st3 {
    border-radius: 5px;
}

.dropbtn {
    background-color: #ff8300;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: medium none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #C84300;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

#redes-sociales {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-weight: bold;
}

.BloquePrincipal {
    position: relative;
    text-align: center;
}

#Informacion {
    position: absolute;
    top: 250px;
    right: 10px;
}

#EstructuraBotones {
    position: relative;
    text-align: center;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 366px;
    height: 78px;
}

#main-title {
    font-size: 25px;
    text-align: center;
    color: darkorange;
    font-family: 'Staatliches', cursive;
}

.container-social-networks {
    width: 100%;
    text-align: right;
}

header {
    position: relative;
}

header>div>#logo>a {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


/*.box-header {
    width: 1850px;
    height: 250px;
}*/